:root {
  --color-blue: #2f80ed;
  --color-dark-gray: #1f1f1f;
  --color-light-gray: #f2f2f2;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetita Neue', Arial, sans-serif;
}

/*header*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden; 
  background-color: #f2f2f2;
  padding-left: 64px;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo__place-header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
}

.header__link {
  color: var(--color-blue);
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--color-blue);
  top: 64px;
  right: 0;
  position: absolute;
}

/* DESCRIPTION */

.description { 
  margin-bottom: 100px;
}
.two-columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  width: 175px;
  font-weight: normal;
  color: var(--color-blue);
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

/* TECHNIQUES */

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 100px auto 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__item {
  width: 240px;
  margin-right: 100px;
 
}

.cards__item:nth-child(3n + 3) {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 60px 40px 43px;
}

.cards__title {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.15;
}

.cards__description {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin: 0;
}

 /* VIDEO */

  .video {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
  }

  .video__iframes {
    margin: 60px 0 -60px;
  }

  iframe:first-child{
    margin-right: 20px;
  }

/* OAKLEY */

.oakley {
  padding-top: 160px;
  background-color: var(--color-light-gray);
}

/* Feyman*/

.feynman {
  background-image: url(images/feynman.png);
  background-size: 867px 637px;
  background-color: var(--color-light-gray);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin: 100px 0 70px 0;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}

/* DIGITS */

.digits {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 100px;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  width: 60%;
  text-align: center;
  margin: 0;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0 0 20px 0 ;
  
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-quote {
  margin: 20px 0 0 0;
}

 /* KHAN */
.khan {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-gray);
}

 .khan__container {
  width: 80%;
 }

 .khan__author {
  margin: 0;
 }

.khan__title {
  margin: 0;
  text-align: left;
}

.khan__quote {
  margin: 50px 0 36px 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
}

.khan__quote-author {
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  color: var(--color-blue);
}
/* Kaufman*/

.kaufman {
  position: relative;
  overflow: hidden;
  background-position: top 0 right -210px;
  background-color: var(--color-dark-gray);
  padding-bottom: 90px;
}

.section-title__theme-dark{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 90px auto 20px auto;
  color: var(--color-light-gray);
}

.section-subtitle__theme-dark {
  margin: 0 auto;
  color: var(--color-light-gray);
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.table__theme-dark {
  color: var(--color-light-gray);
  margin: 0 auto;
}

.table-cell__theme-dark {
  width: 200px;
  margin: 80px 0 0 0;
  z-index: 1;
}

/* RESOURCES */
.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
}

.section-title,
.section-subtitle {
  width: 60%;
}

.resources__logo-zone {
  margin: 80px 0 217px 0;
  width: 1100px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}


/*Footer*/

.footer {
  min-height: 350px;
  padding: 60px 0 40px 0;
  background-color: var(--color-dark-gray);
  color: var(--color-light-gray);
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  display: flex; 
  position: relative;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto; 
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo__place_footer {
  margin-top: 18px;
  margin-bottom: 18px;
  height: 32px;
  width: 183px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-links a {
  text-decoration: none;
  color: var(--color-light-gray);
}

.footer__column-link img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

/* ANIMATION */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s infinite linear;
}

/* Comment */