.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: 2f80ed;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

:root {
  --color-blue: #2f80ed;
  --color-dark-gray: #1f1f1f;
  --color-light-gray: #f2f2f2;
}

/*outline*/
.header,
.content,
.digits,
.description,
.feynman,
.kaufman,
.footers {
  outline: 5px solid green;
}

/*header*/



.logo__place--header{
  height: 32px;
  width: 228px;
  margin-top: 30px;
  margin-left: 64px;
}

.header__title {
  margin-left: 64px;
  width: 730px;
}

.square-pic{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  left: 1226px;
  bottom: 700px;
}

.header {
  background-image: url(/how-to-learn/images/header-image.png);
  background-size: 765px 608px ;
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 600px;
  max-height: 756px;
 }

.header__subtitle {
  width: 388px;

}