.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  box-sizing: border-box;
  overflow: hidden; 
  background-color: #f2f2f2;
  padding-left: 64px;
  align-items: center;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--color-blue);
  top: 64px;
  right: 0;
  position: absolute;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

:root {
  --color-blue: #2f80ed;
  --color-dark-gray: #1f1f1f;
  --color-light-gray: #f2f2f2;
}

/*outline*/
.header,
.content,
.digits,
.description,
.feynman,
.kaufman,
.footer {
  outline: 5px solid green;
}

/*header*/

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  object-fit: cover;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

}

.header__title {
  margin: 0;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 2;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 388px;
}

.logo__place-header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;



}
/* TWO-COLUMNS */
.description {
  display: flex;  
  margin-bottom: 100px;
}
.two-columns {
  display: grid;
  grid-template-columns: 175px 80%;
  width: 80%;
  margin: 0 auto;
}

.two-columns__main-tex {
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragraph {
  margin-bottom: 20px;
}


/* DIGITS */
.digits__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.digits__table {
  display: grid;
  grid-template-columns:  250px 250px 250px 250px;
  gap: 60px;
  justify-content: center;
  margin-bottom: 100px;

}
/* Feyman*/

.feyman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.feyman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feyman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  top: 2000px;
  right: 500px;
}

.feynman {
  display: block;
  background-image: url(images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  min-height: 890px;
}

/* Kaufman*/

.kaufman {
  background-color: var(--color-dark-gray);
  background-image: url(images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
}

.kaufman-title--theme-dark,
.kaufmann-subtitle--theme-dark {
  color: white;
}

.kaufman-title--theme-dark {
  width: 60%;
  line-height: 1.15;
  font-size: 60;
  font-weight: 600;
}

.kaufmann-subtitle--theme-dark {
  line-height: 34px;
  font-size: 24px;
}

.cell__heading--theme-dark {
  line-height: 1.2;
  font-size: 18px;

}

.cell__text--theme-dark {
  line-height: 1.15;

}

.kaufman__table--theme-dark {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
}

/*Footer*/

.footer__columns {
  display: flex;
}

.footer__columns--copyright { 
  width: 50%;
}

.footer__columns--info {
  width: 25%;
}

.footer__column-links {
  list-style: none;
}

.footer__column-link {
  list-style: none;
}

.footer__columns--social {
  width: 25%;
}