.khan {
  padding-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-gray);
}

 .khan__container {
  width: 80%;
 }

 .khan__author {
  margin: 0;
  margin-bottom: 10px;
 }

.khan__title {
  margin: 0;
  text-align: left;
}

.khan__quote {
  margin: 50px 0 36px 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
}

.khan__quote-author {
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin: 0 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
  pointer-events: none;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  color: var(--color-blue);
}